// Colors
// $gray       : #374140;
// $gray-light : #979797;
// $white      : #ffffff;
// $black      : rgb(40,42,41);
// $yellow		: rgb(228,190,33);
// $grey		: rgb(79,78,78);
// $teal 		: #156e87;


$blue 			: #2c3848;
$yellow			: #eaad2e;
$red			: #b21c2a;
$gray-light		: #f5f7fa;
$gray			: #e6e9ed;
$black			: #424d5a;

// SVG ICONS
$icon-yellow    : #EAAD2E;
$icon-purple    : #82184E;
$icon-blue      : #80CEDD;
$icon-orange    : #EA7038;
$icon-red-dark  : #B21C2A;
$icon-red       : #E62052;
$icon-teal      : #41909C;
$icon-navy      : #003942;

$score-low      : #CC9D9A;
$score-medium   : #F9B29A;
$score-high     : #F8D69C;
$score-very-high: #9EC2BE;


// $primary-color 	: $yellow;
// $secondary-color: $grey;
// $tertiary-color	: $yellow;


// Mixins
@mixin transition($length) {
    transition: all $length ease-out;
}

// Media Query Breakpoints
 $brk-narrow    : '(max-width: 767px)';
 $brk-tablet-min: '(min-width: 768px)'; 
 $brk-wide      : '(max-width: 1023px)';
 $brk-wide-min  : '(min-width: 1024px)';
   

//fonts
@font-face {
    font-family: 'grotesk-regular';
    src: url('/assets/fonts/HKGrotesk-Regular.woff') format('opentype');
}
@font-face {
    font-family: 'grotesk-bold';
    src: url('/assets/fonts/HKGrotesk-Bold.woff') format('opentype');
}
@font-face {
    font-family: 'klinik-regular';
    src: url('/assets/fonts/KlinicSlabMedium.otf') format('opentype');
}
@font-face {
    font-family: 'klinik-bold';
    src: url('/assets/fonts/KlinicSlabBold.otf') format('opentype');
}
@font-face {
    font-family: 'klinik-book';
    src: url('/assets/fonts/KlinicSlabBook.otf') format('opentype');
}

@font-face {
    font-family: 'droid-regular';
    src: url('/assets/fonts/DroidSerif-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'droid-bold';
    src: url('/assets/fonts/DroidSerif-Bold.ttf') format('opentype');
}


$stack-grotesk-bold: 'grotesk-bold', Helvetica;
$stack-grotesk: 'grotesk-regular', Helvetica;
$stack-droid: 'droid-regular', 'Arial';
$stack-droid-bold: 'droid-bold', 'Arial';