.slick-slider {
	.slick-arrow {
		width:initial;
		height:initial;
  		@media screen and #{$brk-wide} {
			display: none !important;
  		}
		&.slick-prev {
			left: -55px;
		}
		&.slick-next {
			right: -55px; 
		}
	}
	.slick-slide {
		display: flex;
		justify-content: center;
		justify-items: center;
  		@media screen and #{$brk-wide} {
  			display: block;
  			.slideshow-content {
  				text-align: center;
  			}
  		}
	}
}

.blogSlideshow {
	.slick-arrow {
		width: 45px;
		top:26%;
	}
	&.slick-slider .slick-slide {
  		@media screen and #{$brk-wide} {
			float: left;
		}
	}
}

.quote  {
	.bg-image svg.icon-swipe {
  		@media screen and #{$brk-wide} {
			right:10px;
		}
	}
}