.m-t-0 { margin-top: 0px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-t-50 { margin-top: 50px !important; }
.m-t-100 { margin-top: 100px !important; }
 
.m-r-0  { margin-right: 0px !important; }
.m-r-10  { margin-right: 10px !important; }
.m-r-20  { margin-right: 20px !important; }
.m-r-30  { margin-right: 30px !important; }

.m-b-0 { margin-bottom: 0px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-20 { margin-bottom: 20px !important; }

.m-l-20 { margin-left: 20px !important; }

.p-b-0 { padding-bottom: 0px !important; }

.p-r-0 { padding-left: 0px !important; }
.p-r-10 { padding-left: 10px !important; }

.p-t-0 { padding-top: 0px !important; } 
.p-t-30 { padding-top: 30px !important; } 
.p-t-120 { padding-top: 120px !important; }

.p-l-0 { padding-left: 0px !important; }
.p-l-10 { padding-left: 10px !important; }
.p-l-20 { padding-left: 20px !important; }
.p-l-30 { padding-left: 30px !important; }

.m-t-0, .m-t-10, .m-t-20, .m-t-30, .m-t-50, .m-t-100, .m-b-0, .m-b-10, .m-b-20, 
.m-r-0, .m-r-10, .m-r-20, .m-r-30, .m-l-20, .p-b-0, .p-r-0, .p-r-10, .p-t-0, 
.p-t-30, .p-t-120, .p-l-0, .p-l-10, .p-l-20, .p-l-30 {
  @media screen and #{$brk-wide} {
    margin: 0 !important;
    padding: 0 !important;  
  }
}


.container {
  max-width: 1140px;
  display: block;
  margin: 0 auto;
  p img {
    max-width: 100%;
  }
  @media screen and #{$brk-wide} {
    padding: 0 30px;
  }
}
.thumbnail {
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  padding: 45px;
  margin-top: 32px;
}


section {
  padding-top: 120px;
  padding-bottom: 120px;
  &.hero {
    padding-bottom: 450px;
    &.hero-small {
      padding-bottom: 300px;
    }
  }
  @media screen and #{$brk-wide} {
    &:first-of-type {
      padding: 80px 0 !important;
    }
    padding: 30px 0 !important;

    &#blog {
      padding: 30px 0 0 0 !important;
    }
  }
}


.hero-image {
  width: 100%;
  padding:40px 0; 
}

.bg-image {
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  svg.icon-swipe {
    display: none;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 45px;
    position: absolute;
    @media screen and #{$brk-wide} {
      display: inline-block;
    }
  }
}

.vertical-image {
  padding-bottom: 75%;
  @media screen and #{$brk-wide} {
    padding-bottom: 75% !important;
  }
}


@media screen and #{$brk-wide} {
  .row {
    margin:0 -10px 0 0;
  }
}

.horizontal-image {
  padding-bottom: 50%;
}

.circle-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin:0 auto;
}

.round-image {
  border-radius: 5px;
}

.box-shadow {
  box-shadow: #b9b9b9 0px 0px 50px;
}

.bg-gray { background-color: $gray; }
.bg-gray-light { background-color: $gray-light; }
.bg-blue { background-color: $blue; }



@media screen and #{$brk-tablet-min} {
  .hide-on-desktop {
    display: none !important;
  }
}

@media handheld, only screen and #{$brk-narrow} {
  .hide-on-mobile {
    display: none !important;
    width: 0;
    height: 0;
  }
  .center-on-mobile {
    text-align: center;
  }
}

.pull-right { float: right; }
.pull-left { float: left; }

hr.small {
  border-top:10px solid $yellow;
  width:50px;
}

.blog-item {
  a {
    color: #333;
    &:hover {
      text-decoration: none;
    }
  }
}

/* blog & single post section */
.blog-post-content, .nice-text-spacing {
  img {
    max-width: 100%;
  }
  p {
    margin-bottom: 40px;
    line-height: 37px;
  }
  h3 {
    margin-top: 71px;
    line-height: 37px;
  }
}


#blog .blog-thumb {
  border-radius: 4px;
  padding-bottom: 40px;
  min-height: 500px;
  @media screen and #{$brk-wide} {
    min-height: 400px;
  }
}

#blog .blog-item {
  padding: 20px 0 0 0;
}

#blog .post-format,
#single-post .post-format {
  padding-bottom: 10px;
}

#blog .post-format span,
#single-post .post-format span {
  color: #888;
  font-weight: 400;
  letter-spacing: 1px;
  padding-right: 10px;
}

#blog .blog-thumb a {
  font-weight: 600;
}
#blog .blog-thumb a:hover {
  color: #001122;
  text-decoration: none;
}

#blog .blog-thumb .btn {
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 22px;
  transition: all 0.4s ease-in-out;
}
#blog .blog-thumb .btn:hover {
  background: #111112;
  border-color: transparent;
  color: #ffffff;
}

#single-post-header {
  background: url('../images/single-post-header-bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  text-align: center;
  height: 60vh;
  margin-top: 70px;
}
#single-post-header .single-post-thumb {
  border: 8px solid #fff;
  border-radius: 2px;
}

#single-post-header .single-post-thumb .single-post-item {
  background: #ffffff;
  padding: 42px 20px 52px 20px;
  margin: 10px;
}

#single-post {
  padding-top: 100px;
  padding-bottom: 100px;
}

#single-post blockquote {
  margin-top: 32px;
  letter-spacing: 1.6px;
}


/* footer section */
footer {
  background: $blue;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}



/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle; 
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 10px;
  position: relative;
  top: 0px;
}

.social-icon li a:hover {
  background: #fff;
  color: #000;
}


.tooltip.top .tooltip-arrow {
  border-top-color: $blue;
}

.tooltip-inner { 
  background: $blue;
  font-size:14px; 
  padding:10px;
  max-width: 300px;
  color: #fff;
}

svg {
  width:100%;
} 

.bar {
  width:100%;
  position:absolute;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray; 
  z-index: 9; 
  border-bottom: 10px solid $yellow;
  p { 
    font-family: $stack-grotesk;
    font-size: 12px;
    color: #424D5A;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    line-height: 36px;
    margin-bottom: 0;
    @media screen and #{$brk-wide} {
      font-size: 10px;
    }
  }
  &.subpage {
    @media screen and #{$brk-wide} {
      p {
        display: none;
      } 
      .logo {
        margin-top: 5px;
      }
    }
  }
  .logo {
    position: absolute;
    right: 0;
    @media screen and #{$brk-wide} {
      img { 
        margin-right: 0;  
      }
    } 
    img {
      width:70px;
      margin-right: 20px;
      margin-top: -30px;
    }
    svg {
      width:70px;
      height:35px;
      margin-right: 20px;
    }
  }
}


