.btn {
	display: inline-block;
	margin-right: 20px;
	border: 1px solid $red;
	padding: 10px 30px;
	border-radius: 20px; 
	color: $red;
	text-transform: uppercase;
	font-family: $stack-grotesk;
	letter-spacing: 1px;
	font-size:13px;
	@include transition(.2s);
	&:hover { 
		background:$red;
		color: #fff;
	}
	&.btn-red {
		color: #fff;
		background: $red;
	}
  	@media screen and #{$brk-wide} {
		margin: 15px auto 0 auto;
		padding: 10px 30px !important;
  	}
}  