nav {
	text-align:center;
	width:100%;
	position:absolute;
	height:auto;
	overflow:hidden;
	background:none;
	height: 70px;
}

/*styling open close button*/
.button {
	display:inline;
	position:absolute;
	left:30px;
	top:15px;
	z-index:999;
	font-size:30px;
  	@media screen and #{$brk-wide} {
		left: 15px;
	}
}
.button a {
	text-decoration:none;
	width: 32px;
    height: 32px;
    display: block;
    background-size: 82px;
    background-position: center;
    background-repeat:no-repeat;
    transition-property:all .1s linear 0s;
	-moz-transition:all .1s linear 0s;
	-webkit-transition:all .1s linear 0s;
	-o-transition:all .1s linear 0s;
}
 
.button a.btn-open {
	background-image: url(/assets/images/menu-open.svg);
}
.button a.btn-close {
	background-image: url(/assets/images/menu-close.svg);
  	@media screen and #{$brk-wide} {
		position: fixed;
	}
} 

/*overlay*/
.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background:$blue;
	overflow:auto;
	z-index:99;
	padding:90px;
	.menu-left h1, .menu-left a {
		color: $yellow;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	h1 {
		font-size:60px;
		margin-bottom: 40px;
	}
	img {
		max-width: 100%;
		margin-top: 30px;
	}
	.menu-right {
		a:hover {
			background: #fff;
			color:#000;
			text-decoration: none;

		}
	}
  @media screen and #{$brk-wide} {
	padding:40px 15px 15px 70px;
	h1 {
		font-size: 26px;
		margin-bottom: 10px;
	}
	.menu-right {
		display: none;
	}
  }
}


@media screen and (max-width:48em) {
	nav ul {
		opacity:0;
		visibility:hidden;
	}
}