/* Typography
------------------------------------- */
body {
  font-size: 18px;
  font-family: $stack-droid;
  @media screen and #{$brk-wide} {
    font-size: 16px;
  }
}

h1 {
	font-size: 50px;
  @media screen and #{$brk-wide} {
    font-size: 24px;
    line-height: 1.5;
  }
}

h1,h3,h4 {
  font-family: $stack-grotesk-bold;
}

h2 {
  font-family: $stack-droid;
  line-height: 45px;
  @media screen and #{$brk-wide} {
    font-size: 20px !important;
    line-height: 30px;
  }
}

h3 {
  line-height: 30px;
  @media screen and #{$brk-wide} {
    font-size: 18px;
  }
}

  
h4 {
	letter-spacing: 1px;
	line-height:1.3;
}

blockquote {
  strong {
    font-family: $stack-droid-bold;
  }
  @media screen and #{$brk-wide} {
      padding:0;
      border: 0;
      ul {
        padding-left: 15px;
      }
  }
}

p {
  font-family: $stack-droid;
  line-height: 30px;
  margin-bottom: 30px;
  strong {
    font-family: $stack-droid-bold;
  }
  @media screen and #{$brk-wide} {
    margin-bottom: 10px;
    margin-top: 5px;
  }
}

ul li, ol li {
  line-height: 37px;
  margin-bottom: 0px;
}

.small-caps {
    font-family: $stack-grotesk-bold;
    font-size: 12px;
    letter-spacing: 1.54px;
    line-height: 23px;
    text-transform: uppercase;
}

h4.small-caps {
  font-size: 14px;
}

.text-droid { font-family: $stack-droid !important;}
.text-droid-bold { 
  font-family: $stack-droid-bold !important; font-weight: bold;
  @media screen and #{$brk-wide} {
    letter-spacing: -1px;
  }
}
.text-grotesk { font-family: $stack-grotesk !important;}

.text-white { color: #fff !important; }
.text-yellow { color: $yellow !important; }
.text-black { color: $black !important; }
.text-black-lighter { color: lighter($black, 10%) !important; }
.text-red { color: $red !important; }

.text-center { text-align: center !important; }
.text-left { text-left: center !important; }
.text-right { text-right: center !important; }

.text-uppercase { text-transform: uppercase !important;}
.text-italic { font-style: italic !important;}

.text-strong { font-weight: bold !important; font-family: $stack-droid-bold !important; }

.c-gray-light { color: $gray-light !important; }
.c-gray { color: $gray !important; }
.c-gray-dark { color: #868686 !important; }