footer {
	p, ul {
		font-size: 12px;
	}
	ul {
		list-style: none;
		padding-left:0;
		li {
			line-height: 2;
			font-style: italic; 
			a {
				color: #fff;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	h3 {
		line-height: 1.4;
	}
	h4 {
		@extend .small-caps;
		font-size: 12px;
	}
	svg, img {
		width:100%;
	}
	@media screen and #{$brk-wide} {
		padding: 40px 0;
		text-align: center;
		p, ul, h4 {
			font-size: 16px;
		}
	}
}