#home {
	padding: 120px 0 60px 0;
	svg, img {
		max-width: 100%;
	}
	svg {
		height: 120px;
	}
	h2 {
		max-width: 250px;
	}
	h3 {
		line-height: 1.5;
		max-width: 500px;
	}
  	@media screen and #{$brk-wide} {
		padding: 80px 0 20px 0 !important;
	}
}

.quote {
	p {
		line-height: 2;
		margin-top: 10%;
	  	@media screen and #{$brk-wide} {
			font-size: 14px;
	  	}
	}
	.quote-text { 
		&:before, &:after {
			font-size: 72px;
			color: $yellow;
			line-height: 1;
			position: absolute;
		}
		&:before { 
			content: '“ ';
			top:-4px;
			left:-30px;
		}
		&:after { 
			content: ' ”';
			bottom: -40px;
			right:0;
		}
	}
}

@media screen and #{$brk-wide} {
	#home {
		.front-page-logos {
			text-align: center;
			img, svg {
				width: 30%;
				display: inline-block;
				float: left;
				margin-right: 20px;
			}
			svg {
				height: 80px;
			}
			img {
				margin: 10px 0 0 0;
			}
		}
	}
}
