
.share-icons {
    position: fixed;
    width: 60px;
    left: 30px;
    top: 150px;
    text-align: center;
	svg {
		display: inline-block;
		height:35px;
		margin-bottom: 10px;
		width: 35px;
	}
}

.blog-row {
	padding-bottom: 250px;
}

.blog-item-title {
	font-size: 15px;
}

