{% assign websiteContent = site.data.contentful.spaces.proddata.websiteContent[0] %}
<div class="bar bg-gray-light {% if page.url != '/' %} subpage {%endif%} ">
	{% if page.url != "/" %} 
		<div class="logo">
			
	        <a href="//joinuplift.org" target="_blank"><svg class="icon-gray"><use xlink:href="#icon-uplift-logo-swoosh-dark" /></svg></a>
	    	
			<a href="//results.org" target="_blank">
	        	<img src="/assets/images/results-logo.png" alt="results logo" />
	        </a>
		</div>
	{% endif %}
		<p class="text-center">{{ websiteContent.tagline }}</p>
</div>
 