<div class="share-icons hide-on-mobile">
	<p class="small-caps text-yellow">Share</p>
    <a href="https://www.facebook.com/sharer.php?u={{site.url}}/blog-post/{{page.contentful_fields.title | slugify }}" target="_blank">
    	<svg><use xlink:href="#icon-facebook" /></svg>
    </a>
    <a href="https://twitter.com/intent/tweet?url={{site.url}}/blog-post/{{page.contentful_fields.title | slugify }}&text={{page.contentful_fields.title}}" target="_blank">
    	<svg><use xlink:href="#icon-twitter" /></svg>
    </a>
    <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this blog post {{site.url}}/blog-post/{{page.contentful_fields.title | slugify }}" target="_blank">
    	<svg><use xlink:href="#icon-email" /></svg>
    </a>
</div>