<meta property="og:url"     content="{{site.url}}{{page.url}}" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{page.title}}" />
<meta property="og:description"        content="{{site.description}}" />
<meta property="og:image"              content="{{site.url}}/assets/images/thumb-medium.jpg" />  