<!-- Footer section -->
<footer>   
	<div class="container">
		<div class="row">  
			<div class="col-md-2"> 
				<h4 class="text-yellow">Site Map</h4> 
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/a-call-to-action">A Call to Action</a></li>
					<li><a href="/ranking-index">Ranking Index</a></li>
					<li><a href="/our-methodology">Methodology</a></li>
				</ul>
			</div>
			<div class="col-md-2">  
				<h4 class="text-yellow">Contact Us</h4>  
				<ul>
					<li>info@joinuplift.org</li>
					<li>results@results.org</li>
				</ul> 
				{% include social-icons.html %} 
			</div>
			<div class="col-md-4 hide-on-mobile">
				<hr class="m-t-10" />
				<h3 class="text-droid">{{site.data.contentful.spaces.proddata.websiteContent[0].heroSubText}}</h3>
			</div>
			<div class="col-md-offset-2 col-md-2 hide-on-mobile">
				<a href="//joinuplift.org" target="_blank">
					<svg class="icon-gray"><use xlink:href="#icon-uplift-logo-reversed-swooth-tag" /></svg>
				</a>
				<a href="//results.org" target="_blank">
					<img src="/assets/images/results-logo.png" alt="results logo" />
				</a>
			</div>  
			   
		</div>        
	</div> 
</footer> 


<script src="/assets/js/libs.min.js"></script>

{% if page.url == '/a-call-to-action/'%}
	{% include jvectormap.html %}
{% endif %}

<script src="/assets/js/app.min.js"></script>


</body>
</html> 