<body>
	
<div style="display:none;">
	<!-- Load all icons as a SVG sprite -->
	{% include icon-sprite.svg %} 
</div>

<!-- Preloader section --> 
<div  class="preloader">

	<div class="sk-spinner sk-spinner-rotating-plane"></div>

</div>

{% include navigation.html %}

{% include bar.html %}

