<script src="/assets/js/lib/jvectormap.min.js"></script>
<script src="/assets/js/lib/world-map.js"></script>
<script type="text/javascript">
var mapData = {
  "ET": 1987.97,
  "IN": 1987.97,
  "NE": 1987.97,
  "PK": 1987.97,
  "CD": 1987.97,
  "BD": 1987.97,
  "NG": 1987.97,
  "UG": 1987.97,
  "BF": 1987.97,
  "TZ": 1987.97,
  "TD": 1987.97,
  "SS": 1987.97,
  "GN": 1987.97,
  "SO": 1987.97
};
</script>