<nav class="dark">
	<div class="button">
		<a class="btn-open" href="#"></a>
	</div>
</nav>
<div class="overlay">
	<div class="col-md-6 col-sm-6 menu-left">
		<a href="/"><h1>Home</h1></a>
		<a href="/a-call-to-action"><h1>A Call to Action</h1></a>
		<a href="/ranking-index"><h1>Ranking Index</h1></a>
		
		{% assign blogPosts = site.data.contentful.spaces.proddata.blogPost | sort: "order" %}
		{% for post in blogPosts %}
        	{% if post.isFeatured == true %}
        	<a href="/blog-post/{{post.title | slugify }}">
				<h1>Insights</h1>
			</a>
			{% endif %}
      {% endfor %}
      
	</div>
	
	<div class="col-md-offset-2 col-md-4 col-sm-4 text-white menu-right">
		<div class="row">
			<div class="col-md-6">
				<svg class="icon-gray"><use xlink:href="#icon-uplift-logo-reversed-swooth-tag" /></svg>
			</div>
			<div class="col-md-6">
				<img src="/assets/images/results-logo.png" alt="results logo" />
			</div>
		</div>

		<h4 class="m-t-100">{{site.data.contentful.spaces.proddata.websiteContent[0].heroText}}</h4>
		<hr/>
		<p>{{site.data.contentful.spaces.proddata.websiteContent[0].heroSubText}}</p>
		
		<div class="text-center">
			{% include social-icons.html %}
		</div>
		
	</div> 
</div> 