<ul class="social-icon wow fadeInUp"  data-wow-delay="0.3s">
	<li><a href="{{site.data.contentful.spaces.proddata.websiteContent[0].facebookUrl}}" class="fa fa-facebook" target="_blank"></a></li>
	<li><a href="{{site.data.contentful.spaces.proddata.websiteContent[0].twitterUrl}}" class="fa fa-twitter" target="_blank"></a></li>
</ul>