---
layout: default
---
{% assign websiteContent = site.data.contentful.spaces.proddata.websiteContent[0] %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 nice-text-spacing">
				<h1 class="text-center text-strong wow fadeInUp" data-wow-delay=".3s">{{websiteContent.keyFindingsTitle}}</h1>
				<h2 class="text-center wow fadeInUp" data-wow-delay=".5s">{{websiteContent.keyFindingsSubtitle}}</h2>
				<hr class="small wow fadeInUp"  data-wow-delay=".7s"/>

 				<div id="world-map" style="width: 100%; height: 400px"></div>
 				<p class="text-italic c-gray-dark">{{websiteContent.mapLegend}}</p>

				{{websiteContent.keyFindingsText | markdownify }}
			</div>
		</div>
	</div>
	<div class="container text-center m-t-30">
		<a href="/assets/downloads/gsup-2017-report.pdf" class="btn btn-red wow fadeInUp" data-wow-delay=".3s" target="_blank">Read the Report</a>
	</div>
</section>


