---        
layout: default
---
{% assign blogPosts = site.data.contentful.spaces.proddata.blogPost %}
 
{% include bar.html %}    


<section>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10">

				<h1 class="text-center text-droid text-strong wow fadeInUp" data-wow-delay=".3s">{{page.contentful_fields.title}}</h1>
				<h2 class="text-center wow fadeInUp" data-wow-delay=".5s" style="font-size: 24px;">{{page.contentful_fields.subtitle}}</h2>
				<hr class="small wow fadeInUp"  data-wow-delay=".7s"/>

				<img src="{{page.contentful_fields.heroImage.file.url}}" alt="{{page.contentful_fields.heroImage.file.name}}" class="hero-image" >

				<div class="blog-post-content">
					{{page.contentful_fields.blogText | markdownify }}
				</div>

			</div>
		</div> 
	</div>
</section>

{% include blog-share-icons.html %}

<section class="bg-gray" id="blog">
	<div class="container">
		<div class="blogSlideshow row wow fadeInUp" data-wow-delay="1s">
		  {% for post in blogPosts %}
		  	{% if page.contentful_fields.title != post.title %}
		        <div class="col-md-4">
		          <div class="blog-thumb">
		            <a href="/blog-post/{{post.title | slugify }}">
		        		<div class="vertical-image bg-image blog-row" style="background-image: url('{{post.heroImage.url}}');">
		        			<svg class="icon-swipe"><use xlink:href="#icon-double-chevron" /></svg>
		        		</div>                     
		            </a>
		              <div class="blog-item">
		                <a href="/blog-post/{{post.title | slugify }}">
		                	<p class="small-caps text-red m-b-10">
                        		{% if post.type %} {{post.type}} {%else%} Insight {%endif%}
                  			</p>
		                 <p class="blog-item-title">{{post.title}}</p></a>
		               </div>
		          </div>
		        </div>
		    {% endif %}  
		  {% endfor %}
		</div>
	</div>
</section>
