<!DOCTYPE html>
<html>

  {% include head.html %}

    {% include header.html %}

      <div class="wrapper {{ page.title | downcase }} {% if page.group %} {{ page.group }}{% endif %}">
        {{ content }}
      </div>

    {% include footer.html %}

  </body>

</html>
