---
layout: default
---
{% assign websiteContent = site.data.contentful.spaces.proddata.websiteContent[0] %}
{% assign quoteSlideshow = site.data.contentful.spaces.proddata.quotesOnHomepage | sort: "order" %}
{% assign blogPosts = site.data.contentful.spaces.proddata.blogPost | sort: "order" %}


<!-- Header -->
<section id="home">
  <div class="container">
      <div class="col-md-3 wow fadeInUp hide-on-mobile" data-wow-delay="1.6s">
        <svg class="m-t-20 p-t-10"><use xlink:href="#icon-worldmap" /></svg>
      </div>

     <div class="col-md-7 col-sm-7 m-t-10">
        <h2 class="wow fadeInUp text-droid-bold hide-on-mobile" data-wow-delay="1.8s">{{websiteContent.heroText}}</h2>
        <h2 class="wow fadeInUp text-droid-bold hide-on-desktop" data-wow-delay="1.8s">
          The Global State of<br/>
          Ultra-Poverty</h2>
        </h3>
        <h3 class="wow fadeInUp text-droid m-r-20" data-wow-delay="2s">{{websiteContent.heroSubText}}</h3>
    </div>

     <div class="col-md-2 col-sm-2 wow fadeInUp front-page-logos" data-wow-delay="2.2s">
        <a href="//joinuplift.org" target="_blank"><svg><use xlink:href="#icon-uplift-logo-swoosh-dark" /></svg></a>
        <a href="//results.org" target="_blank"><img src="/assets/images/results-logo.png" alt="results logo"/></a>
     </div>
   </div> 
</section> 
 
<section class="bg-gray-light">
  <div class="container">
    <div class="row">


     <div class="col-md-5 col-sm-5"> 
        <a href="/a-call-to-action">
          <div class="vertical-image box-shadow round-image bg-image m-r-30 hide-on-mobile" style="padding-bottom:100%;background-image: url('{{websiteContent.executiveSummaryImage.url}}');">
        </div>
        </a>
      </div>
 

      <div class="col-md-7 col-sm-7 p-l-30">
          <div class="wow fadeInUp section-title" data-wow-delay="0.6s">
            <h4 class="small-caps text-red hide-on-mobile">A Call to Action</h4>
            <h1>{{websiteContent.executiveSummaryBlockTitle}}</h1>
            <p>{{websiteContent.executiveSummarySubText | markdownify }}</p>
    
    <div class="hide-on-desktop">
      <br/><a href="/a-call-to-action">
            <div class="vertical-image box-shadow round-image bg-image m-r-30" style="padding-bottom:100%;background-image: url('{{websiteContent.executiveSummaryImage.url}}');">
            </div>
          </a>
            <br/>
      </div>

            <div class="m-t-20 center-on-mobile">
              <a href="/a-call-to-action" class="btn btn-red">A Call to Action</a>
              <a href="/assets/downloads/gsup-2017-report.pdf" class="btn" target="_blank">Read the Report</a>
            </div>
          </div>
      </div> 
    </div>
  </div>
</section>
 

<section id="quotes" class="bg-blue">
  <div class="container">
    <div class="row quotes-container" data-wow-delay="0.6s"> 
      {% for slide in quoteSlideshow %} 
      <div class="quote"> 
        <div class="col-md-4 slideshow-picture">
            <div class="circle-image bg-image" style="background-image: url('{{slide.authorPicture.url}}');">
            <svg class="icon-swipe"><use xlink:href="#icon-double-chevron" /></svg>
            </div>
            <h2 class="text-white text-center">{{slide.quoteAuthor}}</h2>
            <p class="text-yellow text-center m-t-0">{{slide.quoteAuthorTitle}}</p>
        </div>
        <div class="col-md-8 slideshow-content">
            <p class="text-white quote-text">{{slide.quoteText}}</p>
        </div>
       </div>
       {% endfor %} 
    </div>
  </div>
</section>
 
<!-- About section -->
<section id="poverty-index" class="bg-gray">
  <div class="container">
    <div class="row">    
  
 
      <div class="col-md-6 col-sm-10">
          <div class="wow fadeInUp section-title m-r-30" data-wow-delay="0.6s">
            <h4 class="small-caps text-red">Ranking table</h4>
            <h1>{{websiteContent.exploreTheIndexTitle}}</h1>
            <p>{{websiteContent.exploreTheIndexSubText}}</p>

            <a href="/ranking-index" class="hide-on-desktop">
              <br/>
              <div class="vertical-image round-image bg-image" style="background-image: url('{{websiteContent.exploreTheIndexIllustration.url}}');">
            </div><br/>
            </a>

            <div class="m-t-50">
                <div class="center-on-mobile">
                 <a href="/ranking-index" class="btn btn-red m-t-20">View the Index</a>
                </div>
            </div>
          </div>
      </div>

      <div class="col-md-6 col-sm-6 wow fadeInUp hide-on-mobile" data-wow-delay="1s">
        <a href="/ranking-index">
          <div class="vertical-image round-image bg-image" style="background-image: url('{{websiteContent.exploreTheIndexIllustration.url}}');">
        </div>
        </a>
      </div>
 

    </div>
  </div>
</section>

 


<!-- Blog section -->
<section id="blog" class="bg-gray-light p-b-0">
  <div class="container">
    <div class="row"> 
      <div class="col-md-8 col-sm-8">  
        <h1>{{websiteContent.blogSectionTitle}}</h1> 
      <p class="m-b-20 text-italic c-gray-dark">{{websiteContent.blogSubText}}</p>
      </div>
    </div>

    <div class="row">    

      {% for post in blogPosts %}
        {% if post.isFeatured == true %}
        <div class="wow fadeInUp col-md-8 col-sm-8 hide-on-mobile" data-wow-delay="1s">
          <a href="/blog-post/{{post.title | slugify }}">
            <div class="horizontal-image bg-image" style="background-image: url('{{post.heroImage.url}}');"></div>
          </a>
        </div>

        <div class="wow fadeInUp col-md-4 col-sm-4 hide-on-mobile" data-wow-delay="0.6s">
          <div class="blog-item p-t-0">
            
            <a href="/blog-post/{{post.title | slugify }}">
            <p class="small-caps text-red m-b-10">
              {% if post.type %} {{post.type}} {%else%} Insight {%endif%}
            </p>
            <p class="text-strong m-b-10">{{post.title}}</p>
            <p>{% if post.featuredPostText %} {{post.featuredPostText}} {% else %} {{post.subtitle}} {% endif %}</p></a>
          </div>
        </div>      
        {% endif %} 

      {% endfor %}

    </div>


    <div class="clearfix"></div>
    <br/>
    
    <div class="blogSlideshow row wow fadeInUp m-t-10" data-wow-delay="1s">

      {% for post in blogPosts %}
        {% if post.isFeatured != true %}

  
            <div class="col-md-4">
              <div class="blog-thumb">
                <a href="/blog-post/{{post.title | slugify }}">
                <div class="vertical-image bg-image blog-row" style="background-image: url('{{post.heroImage.url}}');">
                  <svg class="icon-swipe"><use xlink:href="#icon-double-chevron" /></svg>
                </div>
                </a>
                  <div class="blog-item">
                    <a href="/blog-post/{{post.title | slugify }}">
                      <p class="small-caps text-red m-b-10">
                        {% if post.type %} {{post.type}} {%else%} Insight {%endif%}
                      </p>
                     <p class="blog-item-title">{{post.title}}</p></a>
                   </div>
              </div>
            </div>

        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>


