---
layout: default
---
{% assign websiteContent = site.data.contentful.spaces.proddata.websiteContent[0] %}
 

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 nice-text-spacing">
				<h1 class="text-center text-strong wow fadeInUp" data-wow-delay=".3s">{{websiteContent.ourMethodologyTitle}}</h1>
				<h2 class="text-center wow fadeInUp" data-wow-delay=".5s">{{websiteContent.ourMethodologyDescription}}</h2>
				<hr class="small wow fadeInUp"  data-wow-delay=".7s"/>

				<div class="horizontal-image bg-image" style="background-image: url('{{websiteContent.ourMethodologyHero.url}}');">
    			</div>

				{{websiteContent.ourMethodologyText | markdownify }}
			</div>
		</div>
		<div class="continer text-center">
			<a href="/assets/downloads/gsup-2017-report.pdf" class="btn btn-red wow fadeInUp m-t-30" data-wow-delay=".3s" target="_blank">Read the Report</a>
		</div>
	</div>
</section>
