---
layout: default
---
{% assign websiteContent = site.data.contentful.spaces.proddata.websiteContent[0] %}


<section class="p-t-120">
	<div class="container"> 

		<div class="col-md-9 m-b-20">
			<h3 class="wow fadeInUp" data-wow-delay=".3s">	{{websiteContent.rankingIndexTitle}}</h3>
			<p class="wow fadeInUp text-left m-b-20 m-r-20" data-wow-delay=".5s">		{{websiteContent.rankingIndexDescription}}</p>
			
			<p class="text-italic m-b-0  wow fadeInUp" data-wow-delay=".7s"><br/>{{websiteContent.rankingIndexMethodologyExplanation}}</p>
			<p><a href="/our-methodology" class="text-yellow text-italic wow fadeInUp" data-wow-delay=".9s">Read more about our methodology</a></p>
		</div>
	
		<table id="datatable" class="display compact text-center m-l-20" cellspacing="0" width="100%">
	        <thead>
	            <tr>  
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipScore}}">Score</th>
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipCountry}}">Country</th> 

		            <th data-toggle="tooltip" title="{{websiteContent.tooltipSocAssistance}}">
		            	<!-- Soc Assist  -->
						<svg class="icon-yellow"><use xlink:href="#icon-social-assistance" /></svg>
		            </th> 
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipAnnualGrowth}}">
		            	<!-- Annual Growth -->
						<svg class="icon-purple"><use xlink:href="#icon-annual-growth" /></svg>
		        	</th>
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipGovernance}}">
		            	<!-- Governance -->
						<svg class="icon-blue"><use xlink:href="#icon-governance" /></svg>
		            </th>  
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipSafety}}"> 
		            	<!-- Safety -->
						<svg class="icon-orange"><use xlink:href="#icon-safety" /></svg>
		            </th>
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipSocialCapital}}">
		            	<!-- Social K -->
						<svg class="icon-red-dark"><use xlink:href="#icon-social-k" /></svg>
		            </th>
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipIntensityOfPoverty}}">
		            	<!-- Intensity of Poverty -->
						<svg class="icon-red"><use xlink:href="#icon-intensity-poverty" /></svg>
		            </th>
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipWomenInequality}}">
		            	<!-- Women Inequality -->
						<svg class="icon-teal"><use xlink:href="#icon-women-inequality" /></svg>
		            </th>
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipClimateRisk}}">
		            	<!-- Climate Risk -->
						<svg class="icon-orange"><use xlink:href="#icon-climate-risk" /></svg>
		            </th>
		            <th data-toggle="tooltip" title="{{websiteContent.tooltipGdp}}">
		            	<!-- GDP/Cap -->
						<svg class="icon-navy"><use xlink:href="#icon-gdp" /></svg>
		            </th>
	            </tr>
	        </thead>
	    </table>
	    <p class="m-t-20 text-italic">Blank squares indicate insufficient data</p> 
	</div>
</section>